<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.goodow.realtime.channel">

    <application>

        <provider
            android:name="com.goodow.realtime.android.ChannelInitProvider"
            android:authorities="${applicationId}.channelinitprovider"
            android:exported="false"
            android:initOrder="101"/>

    </application>

</manifest>
